.taste_level {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 40px 0 40px 0;
}

.taste_level1,
.taste_level2,
.taste_level3 {
    flex-basis: calc(33.33% - 30px);
    margin-left: 30px;
}

.div_healthScore {
    display: flex;
    justify-content: center;
}

.div_add_to_shoping_list {
    display: flex;
    justify-content: center;
}

.button_shoping_list {
    padding: 15px 40px;
    background-image: linear-gradient(to bottom right, #fbdb89, #f48982);
    color: white;
    border-radius: 20px 20px 20px 20px;
    border: none;
    margin: 60px 0 40px 0;
}

.button_shoping_list:hover {
    color: black;
}

.div_directions,
.div_title_directions,
.div_text_directions {
    display: flex;
    justify-content: center;
}

.div_text_directions {
    margin-left: 30px;
    margin-right: 15px;
}

.button_directions {
    padding: 15px 40px;
    background-image: linear-gradient(to bottom right, #fbdb89, #f48982);
    color: white;
    border-radius: 20px 20px 20px 20px;
    border: none;
    margin: 20px 0 20px 0;
}

.button_directions:hover {
    color: black;
}